.menuHamburguesa{
    padding-top: 8px;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0;
}

.ulHamburguesa{
    display: none;
  }
  
  .inputHamburguesa:checked  ~ .ulHamburguesa{
    display:block; 
  }
  
  .inputHamburguesa {
    display: none;
  }
  
  .labelHamburguesa {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }
  
  /* Estilo del boton cuando se pasa el mouse por encima*/
  .labelHamburguesa:hover{
    background: grey;
  }
  
  /* Estilo del boton cuando el menú está expandido*/
  .inputHamburguesa:checked ~  .labelHamburguesa {
    background: lightgrey; 
  }
  
  .ulHamburguesa{
    margin-top:0;
    padding: 0;
    width: 300px;
  }
  
  
  .liHamburguesa {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  .liHamburguesa:hover {
    filter: brightness(110%);
  }